.App{
    text-align: center;
    padding: 20px;
}

.form-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
    max-width: 800px;
    margin: auto;
  }
  
  .grid-container {
    max-width: 800px;
    margin: 0 auto;
  }